@include media-breakpoint-up(xs) {
	.page-template-template-comingsoon{
		.section-wrapper{
			margin:0;
			
			.padding-30{
				padding-left:30px;
				padding-right:30px;
			}
		}
		.module__feature-banner{
			//margin-bottom:50px;
			text-align:center;
			
			.banner-container{
				position:relative;
					
				.text-wrapper{
					position:absolute;
					width:100%;
					height:100%;
					top:0;
					left:0;
					
					.text-container{
						position:absolute;
						top:50%;
						left:50%;
						transform:translate(-50%, -50%);
						color:#fff;
						text-align:center;
						width:100%;
						
						/*h2{
							//font-style: italic;
							font-size: 45px;
							font-weight:700;
							//margin-bottom: 20%;
						}*/
						
						p{
							font-size:25px;
							font-style: italic;
						}
					}
				}
			}
			
			a{
				color:#231f20;
				text-decoration:underline;
			}
		}
	}
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {
	.page-template-template-comingsoon{
		.module__feature-banner{			
			.banner-container{
				.text-wrapper{
					.text-container{
						h2{
							font-size: 45px;
						}
					}
				}
			}
		}
		.sign-up{
			font-size:26px;
		}
	}
}

@include media-breakpoint-up(lg) {
	
}

@include media-breakpoint-up(xl) {

}