@include media-breakpoint-up(xs) {
	header{
		background:#ffffff;
	
		a.brand{
			display:block;
			margin-bottom:10px;
			position: absolute;
			left: 0;
			top: 50%;
			z-index:9999;
			transform: translateY(-50%);
			//max-width: 186px;
			max-width: 115px;
			margin-top:0;
			margin-bottom:0;
			margin-left: 15px;
			
			
			img{
				max-width:155px;
			}
		}
		
		.header-container{
			position:relative;
			background:#fff;
			//padding-top:15px;
			//height:90px;
			height:80px;
			
			.shadow_bottom{
				position:relative;
				width:100%;
				height:1px;
				
				&:after{
					content:"";
					position:absolute;
					top:100%;
					left:0;
					margin-top:-4px;
					width:100%;
					height:50px;
					background:url(../images/bg_shadow_top.png) no-repeat;
					background-size:100% auto;
					display:block;
					z-index:800;
				}
			}
		}
		
		.navbar-header{
			display:inline-block;
			float:right;
			padding-top:10px;
			
			.nav_toggle{
				color:#000;
				font-size:25px;
				line-height:1;
				text-decoration:none;
				
				a{
					&:hover{
						text-decoration:none;
					}
				}
				
				i{
					font-size: 30px;
				    margin-top: 15px;
				}
				
				.fa-times{
					display:none;
					font-size:32px;
				}
				
				&.collapsed{
					.fa-bars{
						display:none;
					}
					
					.fa-times{
						display:block!important;
					}
				}
			}
			
			.navbar-toggle{
				padding: 0;
				margin-top:22px;
				margin-right:10px;
				border: none;
				outline:none;
				background:#fff;
				
				&:hover, &:focus{
					background:#fff;
				}
				
				&.collapsed {
					.icon-bar{
						width:31px;
					}
				
					.top-bar {
						transform: rotate(45deg);
						transform-origin:20% 200%;
					}
					.middle-bar {
						opacity: 0;
					}
					.bottom-bar {
						transform: rotate(-45deg);
						transform-origin:15% -100%;
					}
				}
				
				.icon-bar{
					background:#412017;
					width:32px;
					height:2px;
					transition: all 0.2s;
					display:block;
				}
				
				.icon-bar + .icon-bar{
					margin-top:6px;
				}
				
				.top-bar {
					transform: rotate(0);
				}
				.middle-bar {
					opacity: 1;
				}
				.bottom-bar {
					transform: rotate(0);
				}
			}
		}
		
		.nav-container{
			background:#E9E8E6;
			ul.mobile-menu{
				padding:60px 0;
				margin:0;
			
				li{
					display:block;
					margin-bottom:50px;
					text-align:center;
					
					a{
						color:#231f20;
						text-transform:uppercase;
						font-size: 15px;
						font-weight: 600;
						font-family: Josefin Sans,sans-serif;
					}
					
					&:last-child{
						margin-bottom:0;
					}
					
					&.current-menu-item{
						a{
							//text-decoration:underline dotted;
							display:inline-block;
							border-bottom:1px dashed #231f20;
							//padding-bottom:1px;
						}
					}
				}
			}
		}
		
		.menu-primary-menu-container{
			text-align: center;
			ul.main-menu{
				font-size:12px;
				font-weight:600;
				margin-top:42px;
				display:inline-block;
				
				li{
					display:inline-block;
					margin-right:45px;
					&:last-child{
						margin-right:0;
					}
					a{
						color:#231f20;
						text-transform:uppercase;
						font-family: "Josefin Sans", sans-serif;
						
						&:hover{
						    padding-bottom: 2px;
						    border-bottom: 1px dotted;
							text-decoration:none;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {
	
}

@include media-breakpoint-up(lg) {
	header{
		a.brand{
			width: 15%;
			max-width: 186px;
		}
		
		.menu-primary-menu-container{
			ul.main-menu{
				margin-top: 55px;
			    margin-bottom: 14px;
			}
		}
		
		.header-container{
			height:115px;
		}
	}
}

@include media-breakpoint-up(xl) {

}