@include media-breakpoint-up(xs) {
	.page-template-template-home{	
		i, em{
			font-size:13px;
		}
	
		.main-banner{
			
		}
		
		h2{
			text-align:center;
		}
		
		.module__text-with-img{
		
			h2{
				color:#B8CDD7;
			}
			
			i, em{
				color:#B8CDD7;
			}
			
			a{
				color:#B8CDD7;
				text-decoration:underline;
			}
		}
		
		.module__shadow-top{
			.content-container{
				background:url(../images/bg_shadow_top.png) no-repeat top center;
				background-size:100%;
				padding-top:45px;
				
				&.milestone{				
					h2{
						color:#c1b49a;
					}
					
					i, em{
						color:#c1b49a;
					}
					
					a{
						color:#c1b49a;
						text-decoration:underline;
					}
					
					.first-photo-spacing{
						margin:6% 0;
					}
				}
			}
		}
		
		.module__instagram{
			h2, .content-text{
				text-align:center;
			}
			
			h2{
				color:#c1b49a;
			}
		}
		
		.module__follow-us{
			ul{
				padding:0;
				margin:0;
				text-align:center;
				
				li{
					list-style:none;
					display:inline-block;
					margin-right:10px;
					&:last-child{
						margin-right:0;
					}
					
					a{
						color:#231f20;
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {
	.page-template-template-home{		
		i, em{
			font-size:18px;
		}
	
		h2{
			font-size:30px;
		}
		
		.main-banner{
			margin-bottom:30px;
		}
		
		
		.module__text-with-img{
			padding-left:35px;
			padding-right:35px;
			
			h2{
				text-align:left;
			}
		}
		
		.module__shadow-top{
			h2{
				margin-bottom:45px;
			}
		
			.content-container{
				background:url(../images/bg_shadow_top.png) no-repeat top center;
				background-size:100%;
				padding-top:45px;
				
				&.milestone{
					h2{
						text-align:center;
						color:#c1b49a;
					}
					
					i, em{
						color:#c1b49a;
					}
					
					a{
						color:#c1b49a;
						text-decoration:underline;
					}
				}
			}
		}
		
		.module__follow-us{
			ul{
				padding:0;
				margin:0;
				text-align:center;
				
				li{
					list-style:none;
					display:inline-block;
					margin-right:10px;
					&:last-child{
						margin-right:0;
					}
					
					a{
						color:#231f20;
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.page-template-template-home{	
		h2{
			font-size:40px;
		}
	}
}

@include media-breakpoint-up(xl) {

}