@include media-breakpoint-up(xs) {
	.page-template-template-milestone{
		header{
			.header-container{
				.shadow_bottom:after{
					display:none;
				}
			}
		}
	
		.anchor{
			position: absolute;
			left: -10px;
			top: 0;
			transform-origin: 0;
			font-weight: bold;
			font-size:12px;
			font-family: 'Josefin Sans', sans-serif;
			transform: rotate(-90deg) translateX(-100%);
		}
	
		.section-wrapper{			
			&.feature-image{
				.anchor{
					left:30px;
				}
			}
			
			h3{
				//font-size:27px;
				font-size:23px;
				font-style:italic;
				margin-bottom:15px;
			
				strong{
					//font-size:23px;
					font-size:21px;
					font-style:normal;	
					font-weight:900;
				}
			}
			
			.headline-text{
				margin-top:5%;
				margin-bottom:5%;
				p{
					&:last-child{
						margin-bottom:0;
						padding-bottom:0;
					}
				}
			}
		}
	
		.milestone-anchor{
			//margin-bottom:0;
			.anchor_wrapper{
				ul{
					display:block;
					margin:0;
					padding:0;
					text-align:center;
					
					li{
						list-style:none;
						display:block;
						font-size:12px;
						font-weight:600;
						margin-bottom:30px;						
						
						&:last-child{
							margin-bottom:0;
						}
						
						a{
							color:#231f20;
							text-decoration:none;
							
							&:hover{
								border-bottom:1px dotted;
								color:#231f20;
							}
						}
					}
				}
			}
		}
	
		.feature-text{
			color:#c1b49a;
			text-align:center;
			
			h1{
				font-size: 35px;
				font-weight:700;
				margin-bottom: 30px;
				font-family: "Josefin Sans", sans-serif;
			}
			
			p{
				font-size:20px;
				font-style: italic;
			}
		}
		
		.milestone-section-1{			
			.mobile-image-left{
				margin: 50% 5% 0 0;
			}
			
			.mobile-image-right{
				margin: 0 0 0 5%;
			}
		}
		
		.milestone-color-section{
			padding:30px 0;
			background:#f3f6f8;
			
			
			
			&.extra-padding-bottom{
				padding-bottom:10%!important;
			}
			
			&.bg_grey_texture{
				background:url(../images/milestones/bg_grey_texture.png) no-repeat transparent;
				background-size:100% 95%;
			}
			
			
		}
		
		.milestone-basic-text{
			
		}
	}
}

@include media-breakpoint-up(sm) {
	.page-template-template-milestone{	
		.section-wrapper{			
			&.feature-image{
				.anchor{
					left:-10;
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	
}

@include media-breakpoint-up(lg) {
	.page-template-template-milestone{
		.anchor{
			left:-20px;
		}
		
		.section-wrapper{
			//font-size:13px;
			
			&.feature-image{
				.anchor{
					left:-20px;
				}
			}
			
			h3{
				font-size:27px;
			
				strong{
					font-size:23px;
				}
			}
					
			.headline-text{
				margin-top:10%;
				margin-bottom:10%;
			}
		}
		
		.text-margin-vertical{
			margin-top:auto;
			margin-bottom:auto;
		}
		
		.text-margin-top{
			margin-top:auto;
		}
	
		.milestone-anchor{	
			position: fixed;
			width: 100%;
			background: #fff;
			margin-top: -1px;
			
			margin-bottom:0;
			//position:relative;
			z-index:9999;
			
			.bg_shadow{
			    background: url(../images/bg_shadow_top.png) no-repeat;
			    background-size: 100% auto;
			}
			
			.anchor_wrapper{
				ul{
					li{
						display:inline-block;
						margin-right:70px;
						margin-bottom:0;
						font-family:"Josefin Sans", sans-serif;
						
						&:last-child{
							margin:0;
						}
						
						a{
							text-decoration:none;
							padding-bottom:2px;
							
							&:hover{
								border-bottom:1px dotted;
							}
						}
					}
				}
			}
		}
		
		.feature-text{
			padding-top:124px;
		
			.content-container{
				background:none;
				padding-top:0;
			}
			
			h2{
				font-size: 47px;
				font-weight:700;
				margin-bottom: 30px;
			}
			
			p{
				font-size:25px;
				font-style: italic;
			}
		}
		
		.milestone-section-1{
			.image-1-margin{
				margin:15% 0 0 30%;
			}
			
			.text-margin-left{
				margin:0 0 0 10%;
			}
			
			.image-2-margin{
				margin:50% 0 0 0;
			}
			
			/*.mobile-image-left{
				margin: 50% 5% 0 0;
			}
			
			.mobile-image-right{
				margin: 0 0 0 5%;
			}*/
		}
		
		.milestone-section-2{
			.text-margin-left{
				margin:0 0 0 20%;
			}
			
			
			
			.text-margin-left-2{
				margin-left:10%;
			}
		}
		
		.milestone-color-section{
			padding:80px 0; 	
			&.color-section-1{
				padding:30px 0;
				.image-1-margin{
					margin:auto 0;
				}
			}
			
			&.overlay-margin{
				margin-top:-7%;
				.image-margin-right{
					margin:0 10% 0 0;
				}
			}
			
			&.image-overlay{
				.anchor{
					//top:80px;
				}
			}
			
			&.image-overlay{
				background:transparent;
				position:relative;
				padding:0;
				
				.container-fluid{
					&:after{
						content:"";
						position:absolute;
						top:50%;
						left:0;
						transform:translateY(-50%);
						z-index:10;
						width:100%;
						height:80%;
						//background:#f3f6f8;
						
						background:url(../images/milestones/bg_grey_texture.png) no-repeat transparent;
						background-size:auto 100%;
					}
				}
				
				&>.container-fluid{
					position:relative;
					z-index:999;
				}
				
				.anchor{
					top:12%;
				}
			}
		}
		
		.milestone-basic-text{
			&.section-1{
				.image-margin{
					margin-right:10%;
				}
			}
			
			&.section-2{
				.anchor{
					top:50px;
				}
			}
			
			&.overlay-margin{
				margin-top:-8%;
			
				.image-margin{
					margin-left:10%;
				}
				
				.text-margin{
					margin-top:auto;
				}
				
				.headline-text{
					margin-bottom:0;
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {

}