@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,500i,700,900');

@include media-breakpoint-up(xs) {
	body{
		font-family: 'Raleway', sans-serif;
		line-height:1.9;
		.fixed{
			position:fixed;
		}
	}
	
	a{
		color:#c1b49a;
	}
	
	h1{
		font-family: 'Josefin Sans', sans-serif!important;
	}
	
	h2{
		font-family: 'Josefin Sans', sans-serif!important;
		font-weight:700;
		font-size:23px;
	}
	
	h3{
		
	}
	
	p{
		
	}
	
	ul{
		li{
			
		}
	}
	
	img, .img-fluid{
		width:100%;
		height:auto;
	}
	
	.row.no-gutters {
	  margin-right: 0;
	  margin-left: 0;
	
	  & > [class^="col-"],
	  & > [class*=" col-"] {
		padding-right: 0;
		padding-left: 0;
	  }
	}
	
	.zindex{
		z-index:999;
	}
	
	.main{
		padding:0!important;
		margin-top:90px;
		position:relative;
		
		a{
			text-decoration:underline;
		}
	}
	
	.btn_back-to-top{
		position: fixed;
		bottom: 40px;
		right: 40px;
		background:url(../images/btn_back-to-top.png) no-repeat;
		width:42px;
		height:74px;
	}
	
	.section-wrapper{
		//padding-left:15px;
		//padding-right:15px;
		margin-bottom:35px;
		font-size:15px;
		
		&.module__shadow-top{
			.content-container{
				background:url(../images/bg_shadow_top.png) no-repeat top center;
				background-size:100%;
				padding-top:45px;
			}
		}
		
		&.module__follow-us{
			margin-top:50px!important;
			//margin-bottom:35px!important;
			margin-bottom:0;
			font-size:15px!important;
			
			ul{
				padding:0;
				margin:0;
				text-align:center;
				
				li{
					list-style:none;
					display:inline-block;
					margin-right:35px;
					&:last-child{
						margin-right:0;
					}
					
					a{
						color:#231f20;
					}
					
					i{
						font-size:15px;
					}
				}
			}
		}
	}
	
	#sb_instagram.sbi_medium .sbi_type_carousel .sbi_photo_wrap .fa-clone, #sb_instagram .sbi_type_carousel .fa-clone{
		display:none!important;
	}
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {
	.main{
		
	}

	.section-wrapper{
		font-size:15px;
		
		
		&.module__shadow-top{
			h2{
				margin-bottom:45px;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.main{
		margin-top:132px;	
	}
}

@include media-breakpoint-up(xl) {

}