@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@include media-breakpoint-up(xs) {
	body{
		font-family: 'Raleway', sans-serif;
	}
	
	a{
		color:#c1b49a;
	}
	
	h2{
		font-family: 'Josefin Sans', sans-serif;
		font-weight:700;
		font-size:23px;
	}
	
	h3{
		
	}
	
	p{
		
	}
	
	ul{
		li{
			
		}
	}
	
	.img-fluid{
		width:100%;
	}
	
	.row.no-gutters {
	  margin-right: 0;
	  margin-left: 0;
	
	  & > [class^="col-"],
	  & > [class*=" col-"] {
		padding-right: 0;
		padding-left: 0;
	  }
	}
	
	.main{
		padding:0!important;
	}
	
	.section-wrapper{
		//padding-left:15px;
		//padding-right:15px;
		margin-bottom:35px;
		font-size:10px;
		
		&.module__shadow-top{
			.content-container{
				background:url(../images/bg_shadow_top.png) no-repeat top center;
				background-size:100%;
				padding-top:45px;
			}
		}
		
		&.module__follow-us{
			ul{
				padding:0;
				margin:0;
				text-align:center;
				
				li{
					list-style:none;
					display:inline-block;
					margin-right:10px;
					&:last-child{
						margin-right:0;
					}
					
					a{
						color:#231f20;
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {
	.section-wrapper{
		font-size:15px;
		
		
		&.module__shadow-top{
			h2{
				margin-bottom:45px;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	
}

@include media-breakpoint-up(xl) {

}